MY_APP__DB__HOST=localhost
MY_APP__DB__NAME=db
MY_APP__DB__USER=user
MY_APP__DB__PASSWORD=password
MY_APP__AI__LLM__OLLAMA__MODEL=ai/gemma4
MY_APP__AI__LLM__OLLAMA__BASE_URL=http://localhost:12434
MY_APP__AI__EMBEDDING__HF__MODEL=ai-forever/ru-en-RoSBERTa
MY_APP__AI__EMBEDDING__HF__DEVICE=cuda
HF_TOKEN=token
